.example-sidenav {
    width: 450px;
    padding: 20px;
  }

.example-container {
    height: 100vh;
}

.mat-header-cell {
    border-bottom: 1px;
    vertical-align: middle;
}

.mat-cell {
    vertical-align: middle;
}

.table {
    margin-bottom: 0.2rem;
}