<mat-nav-list>
    <div class="profile-card">
        <div class="header" *ngIf="profile">
            <h3>{{profile.UserName}}</h3>
            <h5>{{profile.FullName}}</h5>
        </div>
        <mat-icon class="matimg">account_circle</mat-icon>
    </div>
    <mat-divider></mat-divider>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Pages
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
        <mat-list dense>
            <mat-list-item><a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Articles</a></mat-list-item>
        </mat-list>    
    </mat-expansion-panel>
    <mat-divider></mat-divider>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Setting
        </mat-expansion-panel-header> 
        <mat-divider></mat-divider>   
        <mat-list dense>
            <mat-list-item><a mat-list-item routerLinkActive="list-item-active" routerLink="/">Application Roles</a></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Application Users</a></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Users And Roles</a></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><a mat-list-item routerLinkActive="list-item-active" routerLink="/autherize">Roles Autherization</a></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Screen By Roles</a></mat-list-item>
        </mat-list>   
    </mat-expansion-panel>
    <mat-divider></mat-divider>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Tools
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
        <mat-list dense>
            <mat-list-item>
                <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
                    <mat-icon>import_contacts</mat-icon>
                    Contacts
                </a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
                    <mat-icon>contact_phone</mat-icon>
                    Leads
                </a>
            </mat-list-item>
        </mat-list>       
    </mat-expansion-panel>
</mat-nav-list>