<mat-nav-list>
    <div class="profile-card">
        <div class="header" *ngIf="profile">
            <h3>{{profile.UserName}}</h3>
            <h5>{{profile.FullName}}</h5>
        </div>
        <mat-icon class="matimg">account_circle</mat-icon>
    </div>
    <mat-divider></mat-divider>
    <mat-expansion-panel>
        <mat-expansion-panel-header><mat-icon>pages</mat-icon>
            Pages
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
        <mat-list dense>
            <mat-list-item><a mat-list-item routerLinkActive="list-item-active" routerLink="/"><mat-icon>assessment</mat-icon> Dashboard</a></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><a mat-list-item routerLinkActive="list-item-active" routerLink="/posts"><mat-icon>feedback</mat-icon>Posts</a></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><a mat-list-item routerLinkActive="list-item-active" routerLink="/saleorders"><mat-icon>receipt</mat-icon>Saleorders</a></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><a mat-list-item routerLinkActive="list-item-active" routerLink="/teams"><mat-icon>group_work</mat-icon>Teams</a></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><a mat-list-item routerLinkActive="list-item-active" routerLink="/gpstracking"><mat-icon>gps_fixed</mat-icon>GPS Tracking</a></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><a mat-list-item routerLinkActive="list-item-active" routerLink="/leave"><mat-icon>time_to_leave</mat-icon>Take Leave</a></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><a mat-list-item routerLinkActive="list-item-active" routerLink="/outstanding"><mat-icon>people</mat-icon>Customer Outstanding</a></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><a mat-list-item routerLinkActive="list-item-active" routerLink="/payment"><mat-icon>people_alt</mat-icon>Customer Payment</a></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><a mat-list-item routerLinkActive="list-item-active" routerLink="/privacies"><mat-icon>local_printshop</mat-icon>Privacies</a></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><a mat-list-item routerLinkActive="list-item-active" routerLink="/register"><mat-icon>how_to_reg</mat-icon>Register</a></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><a mat-list-item routerLinkActive="list-item-active" routerLink="/broiler"><mat-icon>linear_scale</mat-icon>Broiler Scale</a></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><a mat-list-item routerLinkActive="list-item-active" routerLink="/pig"><mat-icon>drag_indicator</mat-icon>Pig Scale</a></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><a mat-list-item routerLinkActive="list-item-active" routerLink="/truck"><mat-icon>motorcycle</mat-icon>Truck Scale</a></mat-list-item>
        </mat-list>    
    </mat-expansion-panel>
    <mat-divider></mat-divider>
    <mat-expansion-panel>
        <mat-expansion-panel-header><mat-icon>emoji_people</mat-icon>
            Identity
        </mat-expansion-panel-header> 
        <mat-divider></mat-divider>   
        <mat-list dense>
            <mat-list-item><a mat-list-item routerLinkActive="list-item-active" routerLink="/role"><mat-icon>build</mat-icon>Application Roles</a></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><a mat-list-item routerLinkActive="list-item-active" routerLink="/user"><mat-icon>person</mat-icon>Application Users</a></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><a mat-list-item routerLinkActive="list-item-active" routerLink="/autherize"><mat-icon>share</mat-icon>Roles Autherization</a></mat-list-item>
        </mat-list>   
    </mat-expansion-panel>
    <mat-divider></mat-divider>
    <mat-expansion-panel>
        <mat-expansion-panel-header><mat-icon>pan_tool</mat-icon>
            Menus
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
        <mat-list dense>
            <mat-list-item>
                <a mat-list-item routerLinkActive="list-item-active" routerLink="/menuroot"><mat-icon>import_contacts</mat-icon>Root Menu</a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <a mat-list-item routerLinkActive="list-item-active" routerLink="/menuapp"><mat-icon>contact_phone</mat-icon>App Menu</a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <a mat-list-item routerLinkActive="list-item-active" routerLink="/menuuser"><mat-icon>bookmarks</mat-icon>User Menu</a>
            </mat-list-item>
        </mat-list>       
    </mat-expansion-panel>
</mat-nav-list>