<mat-nav-list>
    <div class="profile-card">
        <div class="header" *ngIf="profile">
            <h3>{{profile.UserName}}</h3>
            <h5>{{profile.FullName}}</h5>
        </div>
        <mat-icon class="matimg">account_circle</mat-icon>
    </div>
    <mat-divider></mat-divider>
    <mat-expansion-panel *ngFor="let m of menuList">
        <mat-expansion-panel-header><mat-icon>{{m.Icon}}</mat-icon>
            {{m.Label}}
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
        <mat-list dense *ngFor="let s of m.applicationMenus">
            <mat-list-item><a mat-list-item routerLinkActive="list-item-active" routerLink="{{s.RouterLink}}"><mat-icon>{{s.Icon}}</mat-icon> {{s.Name}}</a></mat-list-item>
        </mat-list>
    </mat-expansion-panel>