.jumbotron {
    margin-bottom: 0px;
}

.container-fluid{
    padding: 0px;;
}

.about {
    background-color: green;
    height: 600px;
}

.portfolio {
    background-color: greenyellow;
    height: 600px;
}

.contact {
    background-color: yellow;
    height: 600px;
}

html {
    scroll-behavior: smooth;
  }