.jumbotron {
    margin-bottom: 0px;
}

.bg-light {
    background-color: #314e6b !important;
}

.container-fluid{
    padding: 0px;;
}

.about {
    background-color: green;
    height: max-content;
}

.portfolio {
    background-color: #343a40;
    height: max-content;
}

.col-md-4,.col-md-6 {
    padding-left: 1px;
    padding-right: 1px;
}

.contact {
    background-color: yellow;
    height: max-content;
}

#map {
    height: 500px;
    width: 100%;
   }

