.jumbotron {
    padding-top: 3px;
}

.mat-header-cell {
    border-bottom: 1px;
    vertical-align: middle;
}

.mat-cell {
    vertical-align: middle;
}

.table {
    margin-bottom: 0.2rem;
}

.mat-elevation-z8 {
    border: 1px solid;
    box-shadow: 3px 5px
}

.mat-icon {
    cursor:pointer
}

.form-row {
    margin-left: 0px;
    margin-right: 0px;
}

